body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dee8fd;
}

.nav-bar {
  color: black;
  display: flex;
  flex-direction: row;
  background-color: #dee8fd;
  white-space: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
}

#currentlyOn {
  border-bottom: 3px solid #fc284b;
  color: #fa183d;
}

.nav-bar a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav-bar a:hover {
  border-bottom: 3px solid #fc5571;
}

footer {
  background-color: #44609c;
  color: #fff;
  padding: 1.5em;
  margin-top: 18.5em;
}

#rights {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #b3aeae;
}

#donate {
  color: fuchsia;
}

.priv-policy {
  text-align: center;
  margin-top: 30px;
  color: rgb(179, 174, 174);
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-grid-2 {
  line-height: 15px;
}

.justify-icons {
  display: flex;
  justify-content: space-evenly;
}
