body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 21px;
}

.logo {
  background: url("images/facebook-logo.png") no-repeat; /*not working*/
  width: 3em;
  height: 3em;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff;
}

.mainandfooter {
  background-image: linear-gradient(#ffffff, #284a94);
}

main {
  margin: 7em 9em 7em 9em;
}

.nav-bar {
  color: black;
  font-weight: normal;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#currentlyOn {
  border-bottom: 3px solid #fc284b;
  color: #fc284b;
}

.donate-button {
  color: fuchsia!important;
  margin-left: 3em;
}

.nav-bar a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav-bar a:hover {
  border-bottom: 3px solid #fa405f;
}

footer {
  background-color: transparent;
  color: #ffffff;
  padding: 1.5em;
  margin-top: 7em;
  text-align: center;
}

.question {
  margin-top: 3em;
}

.feature {
  margin-top: 3em;
}

.red {
  color: red;
  font-weight: normal;
}

.feature-grid {
  display: grid;
  grid-template-columns: 45% 60%;
  margin-top: 3em;
}

.feature-grid > p {
  margin: 2em;
}

.feature-grid > img {
  justify-self: center;
}

.browser-logos {
  display: grid;
  grid-template-columns: 5em 5em 5em 5em 5em;
  justify-content: space-around;
  margin-top: 4em;
}

.browser-logos a {
  filter: drop-shadow(10px 15px 9px crimson);
}

.firefox-logo {
  height: 5em;
  background: url("./images/firefox-logo.png") no-repeat center/cover;
}

.chrome-logo {
  height: 5em;
  background: url("./images/chrome-logo.png") no-repeat center/cover;
}

.safari-logo {
  height: 5em;
  background: url("./images/safari-logo.png") no-repeat center/cover;
}

.opera-logo {
  height: 5em;
  background: url("./images/opera-logo.png") no-repeat center/cover;
}

.edge-logo {
  height: 5em;
  background: url("./images/edge-logo.png") no-repeat center/cover;
}

.download-page-main {
  margin: 5em 7em 15em 7em;
  display: grid;
}

#download-install {
  margin-top: 1em;
}

#install-info {
  font-size: 14px;
  margin-top: 2em;
}

#download-card {
  justify-self: center;
  width: 80%;
  margin-top: 3em;
  padding: 3em;
  border: 2px solid gray;
  border-radius: 8px;
}