body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(194, 199, 245);
    background-image: linear-gradient(#ffffff, #1f49a5);
}


  .nav-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(206, 199, 199);
    z-index: 1;
    white-space: nowrap;
    justify-content: space-evenly;
    height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nav-bar a {
    display: inline-block;
    color: rgb(83, 81, 81);
    text-align: center;
    padding: 15px;
    text-decoration:none;
    overflow: hidden;
  }
  
  .nav-bar a:hover {
    border-bottom: 3px solid #fd4967;
  }


  #btn-donate{
    width: 100px;
    background-color: rgb(207, 151, 118);
    border-radius:15%;
    color:red;
    font-size: large;
    cursor: pointer;
  }
  
  #btn-donate:hover{
    color:blue;
  }

  #currentlyOn {
    border-bottom: 3px solid #fc3153;
  }
  
  footer {
    background-color:transparent;
    padding: 1.5em;
    margin-top: 18.5em;
  }
  
  #rights {
    text-align: center;
    color: rgb(179, 174, 174);
  }
  
  
  .priv-policy {
    text-align: center;
    margin-top: 30px;
    color: rgb(179, 174, 174);
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }

  .about-container{
    display: grid;
    grid-template-columns: auto;
    margin: 10%;
    margin-top: 100px;
  }
  
  #about-social-fixer{
      text-align: center;
      color: rgb(56, 90, 202);
  }

  #about-p{
      text-align: center;
      line-height: 40px;
      margin-top: 40px;
      color:rgb(165, 37, 37)
  }

  .features-intro{
    text-align: center;
    margin: 13%;
  }

  #features-h1{
    font-size:70px;
    color: #385aca
  }

  #features-defn{
    line-height: 10%;
    margin-top: 5%;
    font-size: large;
    font-style: italic;
  }

  .grid-feature-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin:10%;
  }

  #f1-pic-size{
    width:35em;
    height:15em;
  }

  .grid-feature-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin:10%;
  }

  #f2-pic-size{
    width:35em;
    height:15em;
  }

  .grid-feature-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin:20%;
  }

  #ads-f3-size{
    width: 20em;
    height: 20em;
    margin-left: 45%;
  }

  .grid-feature-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:10%;
  }

  #hidePolitics-f4-size{
    width:25em;
    height:15em;
  }


  .grid-feature-5{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15em;
    margin:10%;
  }

  #f5-pic-size{
    height: 18em;
  }
 
  #p3-size{
    width:20em;
  }
  
  #p4-size{
    width:20em;
  }
  #p5-size{
    width:20em;
  }
  #p3-size{
    width:20em;
  }

  .grid-feature-6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin:10%;
  }

  .grid-feature-7{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin:10%;
  }

  .grid-feature-8{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin:10%;
  }

  .grid-feature-9{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin:10%;
  }

  #f9-pic-size{
    width:20em;
    height:11.5em;
  }

  .grid-feature-10{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin:10%;
  }

  #f10-pic-size{
    width:20em;
    height:11.5em;
  }

  .grid-feature-11{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin:10%;
  }

  #f11-pic-size{
    width:20em;
    height:11.5em;
  }

  .grid-feature-12{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin:10%;
  }

  #f12-pic-size{
    width:20em;
    height:11.5em;
  }

  .grid-feature-13{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    margin:10%;
  }

  #f13-pic-size{
    width:20em;
    height:11.5em;
  }

  #f1-h2{
    color: red
  }

  #f2-h2{
    color: red
  }

  #f3-h2{
    color: red
  }

  #f4-h2{
    color: red
  }

  #f5-h2{
    color: red
  }

  #f6-h2{
    color: red
  }

  #f7-h2{
    color: red
  }

  #f8-h2{
    color: red
  }

  #f9-h2{
    color: red
  }

  #f10-h2{
    color: red
  }

  #f11-h2{
    color: red
  }

  #f12-h2{
    color: red
  }

  #f13-h2{
    color: red
  }