body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  background: url("images/facebook-logo.png") no-repeat;
  width: 3em;
  height: 3em;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ffffff;
}

.mainandfooter {
  background-image: linear-gradient(#ffffff, #1e4291);
}

main {
  margin: 7em;
}

.nav-bar {
  color: black;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  justify-content: space-evenly;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

#currentlyOn {
  border-bottom: 3px solid #fc284b;
  color: #fa183d;
}

.donate-button {
  color: fuchsia!important;
  margin-left: 3em;
}

.nav-bar a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.nav-bar a:hover {
  border-bottom: 3px solid #fc5571;
}

footer {
  background-color: transparent;
  color: #ffffff;
  padding: 1.5em;
  margin-top: 7em;
}

#rights {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: #b3aeae;
}

#donate {
  color: fuchsia;
}

footer a {
  color: #fff;
  text-decoration: none;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-grid-2 {
  line-height: 15px;
}

.justify-icons {
  display: flex;
  justify-content: space-evenly;
}

.question {
  margin-top: 3em;
}

.feature {
  margin-top: 3em;
}

.red {
  color: red;
  font-weight: normal;
}

.feature-grid {
  display: grid;
  grid-template-columns: min-content 60%;
}

.rtl {
  display: grid;
  grid-template-columns: min-content 60%;
  direction: rtl;
}